<div class="p-4 flex flex-col h-full">
    <!-- Header -->
    <div class="">
        <div class="flex gap-2 items-center">
            <div class="font-medium text-4xl mb-2">Pacientes</div>
            <mat-icon (click)="irAPantallaCrear()" class="icon-size-md hover:cursor-pointer icon-turquesa"
                [svgIcon]="'plus-circle'" matTooltip="Agregar usuario"></mat-icon>
        </div>
        <hr>
    </div>

    <!-- Contenido -->
    <div class="mt-4 bg-white p-4">
        <!-- Cabecera tabla -->
        <div class="w-full grid grid-cols-6 gap-4 mb-4">
            <!-- Caja de texto-->
            <div class="col-span-1">
                <div class="text-label">DNI</div>
                <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="filtroDni" (keypress)="teclaEnterFiltrar($event)">
                </mat-form-field>
            </div>

            <div class="col-span-2">
                <div class="text-label">Nombres</div>
                <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="filtroNombres" (keypress)="teclaEnterFiltrar($event)">
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <div class="text-label">Nacionalidad</div>
                <mat-form-field class="w-full">
                    <mat-select [(ngModel)]="filtroNacionalidad" (valueChange)="cambiarFiltroNacionalidad($event)">
                        <mat-option value="xxx">Seleccione</mat-option>
                        <mat-option [value]="item" *ngFor="let item of nacionalidades">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <div class="text-label">Estado</div>
                <mat-form-field class="w-full">
                    <mat-select [(ngModel)]="filtroEstado" (valueChange)="cambiarFiltroEstado($event)">
                        <mat-option value="xxx">Seleccione</mat-option>
                        <mat-option [value]="true">Activo</mat-option>
                        <mat-option [value]="false">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Botón -->
            <div class="col-span-1 w-full self-center">
                <button class="w-full bg-azul" [disabled]="estaCargando" mat-raised-button (click)="clickFiltrar()">
                    <div class="text-white flex gap-2">
                        <span class="">Buscar</span>
                        <mat-icon svgIcon="magnify"></mat-icon>
                    </div>
                </button>
            </div>
        </div>

        <!-- Contenido tabla -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="nombresApellidos">
                    <th mat-header-cell *matHeaderCellDef> Nombres y apellidos </th>
                    <td mat-cell *matCellDef="let element"> {{element | usuarioNombresCompletos}} </td>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <th mat-header-cell *matHeaderCellDef> DNI </th>
                    <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                </ng-container>

                <ng-container matColumnDef="edad">
                    <th mat-header-cell *matHeaderCellDef> Edad </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | usuarioEdad}} </td>
                </ng-container>

                <ng-container matColumnDef="nacionalidad">
                    <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
                </ng-container>

                <ng-container matColumnDef="sexo">
                    <th mat-header-cell *matHeaderCellDef> Sexo </th>
                    <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
                </ng-container>

                <ng-container matColumnDef="celular">
                    <th mat-header-cell *matHeaderCellDef> Contacto </th>
                    <td mat-cell *matCellDef="let element"> {{element.numeroContacto}} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button matTooltip="Editar" class="bg-amarillo"
                            (click)="irAPantallEditar(element.id)">
                            <mat-icon svgIcon="pencil"></mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="verHistoria">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button matTooltip="Ver historia clínica" color="primary" (click)="verHistoria(element.id)">
                            <mat-icon svgIcon="text-box-search"></mat-icon>
                            <div>Ver Historia</div>
                        </button>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button class="bg-gris" *ngIf="element.habilitado" matTooltip="Deshabilitar"
                            (click)="deshabilitar(element.id)">
                            <mat-icon svgIcon="account-cancel"></mat-icon>
                        </button>
                        <button mat-raised-button class="bg-turquesa" *ngIf="!element.habilitado"
                            (click)="habilitar(element.id)" matTooltip="Habilitar">
                            <mat-icon svgIcon="account-check"></mat-icon>
                        </button>
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell p-4" colspan="4">No hay contenido</td>
                </tr>

            </table>

            <mat-paginator [ngClass]="{'pointer-events-none': estaCargando}" [length]="pagination.tamanioTotal"
                [pageSize]="pagination.tamanioPagina" [pageSizeOptions]="pageableOptions" [showFirstLastButtons]="true">
            </mat-paginator>

        </div>
    </div>
</div>