<div class="flex flex-col h-full w-full bg-slate-200 overflow-hidden">
    <!-- titulo -->
    <div class="bg-white w-full px-3 py-6 flex items-center justify-between max-h-16">
        <div class="font-sans text-lg text-slate-600 flex gap-3">
            <span>Gestión interna</span>
            <span>></span>
            <span class="font-medium">Pacientes</span>
        </div>

        <div class="flex gap-2 items-center justify-center" *ngIf="accion != 'ninguno'">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button style="background-color: green; color: white;"
                (click)="procesarSolicitud()">Guardar</button>
        </div>
    </div>

    <!-- Main -->
    <div class="grid grid-cols-6 w-full h-full px-8 py-4 mt-3 gap-4">
        <!-- Lista -->
        <div class="flex flex-col justify-between border-r pr-8 border-r-slate-400 col-span-2 h-full">
            <!-- Buscador -->
            <div>
                <mat-form-field class="w-full">
                    <!-- (keyup)="filtrar($event)" -->
                    <input matInput [(ngModel)]="filtroNombres" placeholder="Buscar por nombres">
                    <mat-icon matPrefix svgIcon="magnify"></mat-icon>
                </mat-form-field>
            </div>
            <!-- Lista completa -->
            <div class="mt-4 h-full overflow-auto flex flex-col gap-2">
                <ng-container *ngIf="pacientes.length>0; else nocontent">
                    <div *ngFor="let paciente of pacientes" class="bg-white p-3 rounded-lg cursor-pointer shadow-md">
                        <button (click)="ver(paciente.id)">
                            <div class="flex flex-col items-start">
                                <div class="font-medium text-base">{{paciente.nombres + " " + paciente.apPaterno + " " +
                                    paciente.apMaterno}}</div>
                                <!-- <div class="text-slate-600">{{paciente.tipo}}</div> -->
                            </div>
                        </button>
                    </div>
                </ng-container>
                <ng-template #nocontent>
                    <div class="p-4">¡La lista está vacía!</div>
                </ng-template>
            </div>
            <button mat-raised-button class="mt-8 mb-2" style="background-color: green; color: white;"
                *ngIf="accion == 'ninguno'" (click)="crear()">Crear nuevo paciente</button>
        </div>

        <!-- Detalle -->
        <div *ngIf="accion !== 'ninguno'" class="col-span-4 w-full overflow-y-scroll mb-16">
            <!-- Crear o Editar-->
            <ng-container *ngIf="accion === 'editar' || 'crear'">
                <form [formGroup]="form" class="flex flex-col gap-4 h-full w-full">

                    <!-- Datos del usuario -->
                    <div class="flex flex-col justify-between w-full bg-white rounded-lg col-span-1 p-4">
                        <div class="font-medium text-2xl font-sans">{{accion == 'editar' ? 'Editar' : 'Crear'}} usuario
                        </div>
                        <!-- Datos -->
                        <div class="mt-4 h-full grid grid-cols-3 gap-4">
                            <!-- Ap paterno -->
                            <div>
                                <div class="text-label">Apellido Paterno</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="apPaterno">
                                </mat-form-field>
                            </div>

                            <!-- Ap materno -->
                            <div>
                                <div class="text-label">Apellido Materno</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="apMaterno">
                                </mat-form-field>
                            </div>

                            <!-- Nombres -->
                            <div>
                                <div class="text-label">Nombres</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="nombres">
                                </mat-form-field>
                            </div>

                            <!-- DNI -->
                            <div>
                                <div class="text-label">Documento de identidad</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="docIdentidad">
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="text-label">Sexo</div>
                                <mat-form-field class="w-full">
                                    <mat-select formControlName="sexo">
                                        <mat-option [value]="item"
                                            *ngFor="let item of sexos">{{item.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Fecha nacimiento -->
                            <div>
                                <div class="text-label">Fecha de nacimiento</div>
                                <mat-form-field class="w-full">
                                    <input matInput [matDatepicker]="dp" formControlName="fecNacimiento">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                                    <mat-datepicker #dp></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="text-label">Nacionalidad</div>
                                <mat-form-field class="w-full">
                                    <mat-select formControlName="pais">
                                        <mat-option [value]="pais"
                                            *ngFor="let pais of paises">{{pais.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- Lugar de nacimiento -->
                            <div>
                                <div class="text-label">Lugar de nacimiento</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="lugarNacimiento">
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="text-label">Dirección</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="direccion">
                                </mat-form-field>
                            </div>

                            <ng-container formGroupName="ubigeo">
                                <div>
                                    <div class="text-label">Departamento</div>
                                    <mat-form-field class="w-full">
                                        <mat-select formControlName="departamento">
                                            <mat-option *ngFor="let departamento of departamentos"
                                                [value]="departamento">{{departamento}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <div class="text-label">Provincia</div>
                                    <mat-form-field class="w-full">
                                        <mat-select formControlName="provincia"
                                            (valueChange)="listarDistritoPorProvincia$($event)">
                                            <mat-option *ngFor="let provincia of provincias"
                                                [value]="provincia">{{provincia}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <div class="text-label">Distrito</div>
                                    <mat-form-field class="w-full">
                                        <mat-select formControlName="distrito">
                                            <mat-option *ngFor="let distrito of distritos"
                                                [value]="distrito">{{distrito}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <div>
                                <div class="text-label">Correo</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="correo">
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="text-label">Ocupación</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="ocupacion">
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="text-label">Carrera o profesión</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="carreraProfesion">
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="text-label">Número de contacto</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="numeroContacto">
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="text-label">Contacto de emergencia</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="contactoEmergencia">
                                </mat-form-field>
                            </div>
                            <div>
                                <div class="text-label">Organización que refiere</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="organizacionRefiere">
                                </mat-form-field>
                            </div>

                            <div class="col-span-3">
                                <div class="text-label">Motivo de consulta</div>
                                <mat-form-field class="w-full">
                                    <textarea matInput formControlName="motivoConsulta"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-span-1">
                                <div class="text-label">Horario de disponibilidad</div>
                                <!-- <mat-form-field class="w-full"> -->
                                <mat-radio-group formControlName="horarioDisponibilidad">
                                    <mat-radio-button value="M">Mañana</mat-radio-button>
                                    <mat-radio-button value="T">Tarde</mat-radio-button>
                                </mat-radio-group>
                                <!-- </mat-form-field> -->
                            </div>

                            <div class="col-span-3">
                                <div class="text-label">Observación</div>
                                <mat-form-field class="w-full">
                                    <textarea matInput formControlName="observacion"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>