<div class="w-full h-full p-8">
    <!-- Cabecera -->
    <div class="flex items-center justify-between">
        <div class="font-medium text-4xl">Editar usuario</div>
        <mat-icon svgIcon="close" class="hover:cursor-pointer" matTooltip="Cerrar" (click)="matRef.close()"></mat-icon>
    </div>

    <hr class="my-4">

    <!-- Cuerpo -->
    <form [formGroup]="form" *ngIf="!estaCargandoFormulario">
        <div class="w-full grid grid-cols-4 gap-4">
            <!-- Correo -->
            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input matInput type="text" formControlName="correo">
                <mat-error *ngIf="correoEsRequerido">Campo obligatorio*</mat-error>
            </mat-form-field>

            <!-- Ap. paterno -->
            <mat-form-field>
                <mat-label>Ap. Paterno</mat-label>
                <input matInput type="text" formControlName="apPaterno">
                <mat-error *ngIf="apPaternoEsRequerido">Campo obligatorio*</mat-error>
            </mat-form-field>

            <!-- Ap materno -->
            <mat-form-field>
                <mat-label>Ap. Materno</mat-label>
                <input matInput formControlName="apMaterno">
                <mat-error *ngIf="apMaternoEsRequerido">Campo obligatorio*</mat-error>
            </mat-form-field>

            <!-- Nombres -->
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombres">
                <mat-error *ngIf="nombresEsRequerido">Campo obligatorio*</mat-error>
            </mat-form-field>

            <!-- DNI -->
            <mat-form-field>
                <mat-label>DNI</mat-label>
                <input matInput formControlName="dni" mask="99999999">
                <mat-error *ngIf="dniEsRequerido">Campo obligatorio*</mat-error>
            </mat-form-field>

            <!-- FECHA NACIMIENTO -->
            <mat-form-field>
                <mat-label>Fecha nacimiento</mat-label>
                <input matInput formControlName="fechaNacimiento" mask="d0/M0/0000">
                <mat-error *ngIf="fechaNacimientoEsRequerido">Campoobligatorio*</mat-error>
            </mat-form-field>

            <!-- SEXO -->
            <mat-form-field class="flex flex-col">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo">
                    <mat-option [value]="item.nombre" *ngFor="let item of comboSexo">{{item.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- CELULAR -->
            <mat-form-field>
                <mat-label>Celular</mat-label>
                <input matInput formControlName="celular">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- NACIONALIDAD -->
            <mat-form-field class="flex flex-col">
                <mat-label>Nacionalidad</mat-label>
                <mat-select formControlName="nacionalidad">
                    <mat-option [value]="item" *ngFor="let item of comboNacionalidad">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- CARRERA -->
            <mat-form-field>
                <mat-label>Carrera</mat-label>
                <input matInput formControlName="carrera">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- ESPECIALIDAD -->
            <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <input matInput formControlName="especialidad">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- UNIVERSIDAD -->
            <mat-form-field>
                <mat-label>Universidad</mat-label>
                <input matInput formControlName="universidad">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- AÑO EGRESO -->
            <mat-form-field>
                <mat-label>Año egreso</mat-label>
                <input matInput formControlName="anioEgreso" mask="0000">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- COLEGIADO -->
            <mat-form-field class="flex flex-col">
                <mat-label>¿Es colegiado?</mat-label>
                <mat-select formControlName="colegiado" (change)="cambioSelectColegiado()">
                    <mat-option [value]="true">SI</mat-option>
                    <mat-option [value]="false">NO</mat-option>
                </mat-select>
                <mat-error></mat-error>
            </mat-form-field>

            <!-- NUM COLEGIATURA -->
            <mat-form-field *ngIf="esColegiado">
                <mat-label>Num. colegiatura</mat-label>
                <input matInput formControlName="numeroColegiatura">
                <mat-error></mat-error>
            </mat-form-field>

            <!-- RESUMEN PROFESIONAL -->
            <mat-form-field class="flex flex-col col-span-4 h-full">
                <mat-label>Resumen profesional</mat-label>
                <textarea matInput formControlName="resumenProfesional" rows="3" style="resize: none;"></textarea>
                <mat-error></mat-error>
            </mat-form-field>
        </div>
    </form>

    <div *ngIf="estaCargandoFormulario" class="mb-96 w-full flex items-center justify-center">Cargando datos...</div>

    <hr class="my-4">

    <!-- Footer -->
    <div class="flex gap-2 justify-end">
        <button mat-raised-button (click)="matRef.close()">Cancelar</button>
        <button mat-raised-button class="bg-azul disabled:bg-gris" (click)="procesarSolicitud()"
            [disabled]="estaCargando">
            <span *ngIf="!estaCargando" class="text-white">Guardar</span>
            <span *ngIf="estaCargando" class="text-white">Guardando...</span>
        </button>
    </div>
</div>