<div class="h-full bg-white p-4">
    <!-- Cabecera -->
    <div class="flex items-center justify-between">
        <div class="font-medium text-4xl">Nueva atención</div>
        <a class="flex items-center" routerLink="../">
            <mat-icon svgIcon="pan-left"></mat-icon>
            <span>Regresar</span>
        </a>
    </div>

    <hr class="my-4">

    <!-- Cuerpo -->
    <form [formGroup]="form">
        <div class="w-full flex flex-col h-full gap-4">
            <div class="flex justify-between gap-4">
                <!-- DNI -->
                <div>
                    <div class="font-medium">DNI Paciente</div>
                    <mat-form-field class="w-full">
                        <input matInput type="text" formControlName="dniPaciente">
                        <!-- <mat-error *ngIf="correoEsRequerido">Campo obligatorio*</mat-error> -->
                    </mat-form-field>
                </div>

                <div>
                    <div class="font-medium">Nombres</div>
                    <div>Isaías Joel Domínguez Montalbán</div>
                </div>

                <div>
                    <div class="font-medium">Edad</div>
                    <div>dasdsadfkds</div>
                </div>

                <div>
                    <div class="font-medium">Sexo</div>
                    <div>dasdsadfkds</div>
                </div>

                <div>
                    <div class="font-medium">Nacionalidad</div>
                    <div>dasdsadfkds</div>
                </div>
            </div>

            <div class="flex justify-between gap-4">
                <div class="w-full">
                    <div class="font-medium">Servicio que solicita</div>
                    <mat-form-field class="w-full">
                        <mat-select formControlName="servicio">
                            <mat-option *ngFor="let servicio of servicios"
                                [value]="servicio">{{servicio.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="w-full">
                    <div class="font-medium">Proyecto que refiere</div>
                    <mat-form-field class="w-full">
                        <mat-select formControlName="proyecto">
                            <mat-option *ngFor="let proyecto of proyectos"
                                [value]="proyecto">{{proyecto.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex gap-4">
                <div class="w-full">
                    <div class="font-medium">Motivo de consulta</div>
                    <mat-form-field class="w-full">
                        <textarea matInput formControlName="motivoConsulta" name="" id="" cols="30" rows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex justify-between gap-4">
                <div class="w-full">
                    <div class="text-label">Modalidad</div>
                    <mat-form-field class="w-full">
                        <mat-select formControlName="modalidad">
                            <mat-option value="VIRTUAL">Virtual</mat-option>
                            <mat-option value="PRESENCIAL">Presencial</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <div class="text-label">Horario de disponibilidad</div>
                    <mat-form-field class="w-full">
                        <input matInput type="text" formControlName="horarioDisponibilidad">
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <!-- <div class="text-label">Ap. Paterno</div> -->
                    <button mat-flat-button color="primary">Comprobar</button>
                </div>
            </div>

            <div class="flex justify-between gap-4">
                <div class="w-full">
                    <div class="text-label">Psicólogx</div>
                    <mat-form-field class="w-full">
                        <input matInput formControlName="psicologo">
                        <!-- <mat-error *ngIf="apMaternoEsRequerido">Campo obligatorio*</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <div class="text-label">Ambiente</div>
                    <mat-form-field class="w-full">
                        <input matInput formControlName="ambiente">
                        <!-- <mat-error *ngIf="apMaternoEsRequerido">Campo obligatorio*</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="w-full">
                    <div class="text-label">Colaboración económica</div>
                    <mat-form-field class="w-full">
                        <input matInput formControlName="colaboracionEconomica"
                            [value]="form.get('servicio').value?.costo">
                        <!-- <mat-error *ngIf="apMaternoEsRequerido">Campo obligatorio*</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>

    <hr class="my-4">

    <!-- Footer -->
    <div class="flex gap-2 justify-end">
        <button mat-raised-button (click)="regresarAListar()">Cancelar</button>
        <button mat-raised-button class="bg-azul" (click)="procesarSolicitud()">
            <div class="text-white">Guardar</div>
        </button>
    </div>
</div>