<div class="p-4 flex flex-col gap-4">
    <!-- Cabecera -->
    <div>
        <div class="border-b-2 font-medium text-lg pb-2">Ver Psicologo</div>
    </div>

    <!-- Cuerpo -->
    <mat-dialog-content>
        <div class="grid grid-cols-3 gap-3">
            <div class="col-span-3">
                <div class="texto-label-azul">Correo</div>
                <div>{{this.psicologo.correo}}</div>
            </div>
            <div class="col-span-2">
                <div class="texto-label-azul">Nombres</div>
                <div>{{this.psicologo | psicologoNombresCompletos}}</div>
            </div>
            <div class="col-span-1">
                <div class="texto-label-azul">DNI</div>
                <div>{{this.psicologo.dni}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Fecha de nacimiento</div>
                <div>{{this.psicologo.fechaNacimiento}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Sexo</div>
                <div>{{this.psicologo.sexo}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Celular</div>
                <div>{{this.psicologo.celular}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Nacionalidad</div>
                <div>{{this.psicologo.nacionalidad}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Carrera</div>
                <div>{{this.psicologo.carrera}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Especialidad</div>
                <div>{{this.psicologo.especialidad}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Universidad</div>
                <div>{{this.psicologo.universidad}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Año de egreso</div>
                <div>{{this.psicologo.anioEgreso}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Es colegiado</div>
                <div>{{this.psicologo.colegiado ? 'SI' : 'NO'}}</div>
            </div>
            <div>
                <div class="texto-label-azul">Número de colegiatura</div>
                <div>{{this.psicologo.colegiado ? this.psicologo.numeroColegiatura : 'No tiene'}}</div>
            </div>
            <div class="col-span-3">
                <div class="texto-label-azul">Resumen profesional</div>
                <div>{{this.psicologo.resumenProfesional}}</div>
            </div>
        </div>
    </mat-dialog-content>

    <!-- Pie -->
    <mat-dialog-actions class="flex self-end">
        <button mat-raised-button mat-dialog-close class="bg-azul" (click)="matRef.close()">
            <span class="text-white">OK</span>
        </button>
    </mat-dialog-actions>
</div>