<div class="p-8 flex flex-col h-full w-full">
    <!-- Header -->
    <div class="flex items-center justify-between w-full">
        <div class="flex gap-2 flex-col">
            <div class="font-medium text-4xl mb-2">Casos asignados</div>
            <div class="font-light text-2xl mb-2">Marjorie Horna</div>
        </div>
        <a class="flex items-center" routerLink="../../">
            <mat-icon svgIcon="pan-left"></mat-icon>
            <span>Regresar</span>
        </a>
    </div>
    <hr>

    <!-- Body -->
    <div class="mt-4">
        <div class="flex justify-between gap-8 text-white">
            <div class="basis-1/3 w-full rounded-md bg-green-600 p-4">
                <div class="text-xl font-medium">En proceso</div>
                <div class="flex text-2xl">3</div>
            </div>
            <div class="basis-1/3 w-full rounded-md bg-orange-600 p-4">
                <div class="text-xl font-medium">Culminadas</div>
                <div class="flex text-2xl">10</div>
            </div>
            <div class="basis-1/3 w-full rounded-md bg-blue-600 p-4">
                <div class="text-xl font-medium">Total asignadas</div>
                <div class="flex text-2xl">13</div>
            </div>
        </div>

        <div class="mt-8 flex justify-between gap-4">
            <!-- DNI -->
            <div class="w-full basis-1/6">
                <div>DNI</div>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput type="text">
                </mat-form-field>
            </div>

            <!-- Nombres -->
            <div class="basis-4/6">
                <div>Nombres</div>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput type="text">
                </mat-form-field>
            </div>

            <!-- Estado de atención -->
            <div class="basis-1/6">
                <div>Estado</div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select>
                        <mat-option value="todos">Todos</mat-option>
                        <mat-option value="proceso">En proceso</mat-option>
                        <mat-option value="culminados">Culminados</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="mt-4 flex flex-col gap-4">
            <!-- Este va a iterar -->
            <div>
                
            </div>
        </div>
    </div>
</div>