<div class="p-8 flex flex-col h-full w-full">
    <!-- Header -->
    <div class="flex items-center justify-between w-full">
        <div class="flex gap-2 flex-col">
            <div class="font-medium text-4xl mb-2">Casos asignados</div>
            <div class="font-light text-2xl mb-2">Marjorie Horna</div>
        </div>
        <a class="flex items-center" routerLink="../">
            <mat-icon svgIcon="pan-left"></mat-icon>
            <span>Regresar</span>
        </a>
    </div>
    <hr>

    <!-- Body -->
    <div class="mt-4">
        <div class="flex justify-end">
            <div class="flex flex-col items-end text-3xl font-semibold">
                <div class="flex gap-4 text-green-600">
                    <div>En proceso</div>
                    <div>3</div>
                </div>
                <div class="flex gap-4 text-orange-600">
                    <div>Culminadas</div>
                    <div>10</div>
                </div>
                <div class="flex gap-4 border-t-2 pt-2 text-blue-600">
                    <div>Total asignadas</div>
                    <div>13</div>
                </div>
            </div>
        </div>
    </div>
</div>