<div class="h-max p-8 bg-white">
    <!-- Cabecera -->
    <div class="flex items-center justify-between">
        <div class="font-medium text-4xl">Crear paciente</div>
        <a class="flex items-center" routerLink="../">
            <mat-icon svgIcon="pan-left"></mat-icon>
            <span>Regresar</span>
        </a>
    </div>

    <hr class="my-4">

    <!-- Cuerpo -->
    <form [formGroup]="form" class="w-full mt-4 flex flex-col gap-4">
        <!-- Datos personales -->
        <div class="border-b text-base font-medium text-gray-500">Datos personales</div>
        <div class="grid grid-cols-4 gap-4">
            <!-- Ap paterno -->
            <div>
                <div class="text-label">Apellido Paterno</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="apPaterno">
                </mat-form-field>
            </div>

            <!-- Ap materno -->
            <div>
                <div class="text-label">Apellido Materno</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="apMaterno">
                </mat-form-field>
            </div>

            <!-- Nombres -->
            <div>
                <div class="text-label">Nombres</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="nombres">
                </mat-form-field>
            </div>

            <!-- DNI -->
            <div>
                <div class="text-label">DNI</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="dni" mask="99999999">
                </mat-form-field>
            </div>

            <!-- Fecha nacimiento -->
            <div>
                <div class="text-label">Fecha de nacimiento</div>
                <mat-form-field class="w-full">
                    <input matInput [matDatepicker]="dp" formControlName="fechaNacimiento">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Nacionalidad</div>
                <mat-form-field class="w-full">
                    <mat-select formControlName="nacionalidad" (valueChange)="cambioValorNacionalidad($event)">
                        <mat-option [value]="this.textoSeleccione">SELECCIONE</mat-option>
                        <mat-option [value]="item" *ngFor="let item of comboNacionalidad">{{item.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Lugar de nacimiento -->
            <div>
                <div class="text-label">Lugar de nacimiento</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="lugarNacimiento">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Dirección</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="direccion">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Departamento</div>
                <mat-form-field class="w-full">
                    <mat-select formControlName="departamento" (valueChange)="listarProvinciaPorDepartamento$($event)">
                        <mat-option [value]="this.textoSeleccione">SELECCIONE</mat-option>
                        <mat-option *ngFor="let departamento of departamentos"
                            [value]="departamento">{{departamento}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Provincia</div>
                <mat-form-field class="w-full">
                    <mat-select formControlName="provincia" (valueChange)="listarDistritoPorProvincia$($event)">
                        <mat-option [value]="this.textoSeleccione">SELECCIONE</mat-option>
                        <mat-option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Distrito</div>
                <mat-form-field class="w-full">
                    <mat-select formControlName="distrito">
                        <mat-option [value]="this.textoSeleccione">SELECCIONE</mat-option>
                        <mat-option *ngFor="let distrito of distritos" [value]="distrito">{{distrito}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Número de contacto</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="numeroContacto">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Sexo</div>
                <mat-form-field class="w-full">
                    <mat-select formControlName="sexo">
                        <mat-option [value]="this.textoSeleccione">SELECCIONE</mat-option>
                        <mat-option [value]="item.nombre" *ngFor="let item of comboSexo">{{item.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Carrera</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="carrera">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Ocupación</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="ocupacion">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Correo</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="correo">
                </mat-form-field>
            </div>
        </div>

        <!-- Socioeconómico -->
        <div class="border-b text-base font-medium text-gray-500">Datos socioeconómicos</div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <div class="text-label">Tipo de vivienda</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="tipoVivienda">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">¿Con cuántas habitaciones o camas cuenta su vivienda?</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="habitacionesCamas">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">¿Cuenta con los siguientes servicios básicos?</div>
                <mat-form-field class="w-full">
                    <mat-select matInput formControlName="serviciosBasicos" multiple>
                        <mat-option [value]="servicio"
                            *ngFor="let servicio of comboServiciosBasicos">{{servicio}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Mencione sus gastos mensuales de forma específica</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="gastosMensuales">
                </mat-form-field>
            </div>

            <div class="col-span-2">
                <div class="text-label">¿Con cuántos familiares vive actualmente? Mencionar a cada uno y su
                    ingreso
                    mensual en soles y quienes aportan dentro de la familia</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="cantidadFamiliares">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Tipo de seguro al cual pertenece</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="tipoSeguro">
                </mat-form-field>
            </div>

            <div>
                <div class="text-label">Categoria socioeconómica</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="categorizacionSocioeconomica">
                </mat-form-field>
            </div>
        </div>

        <!-- Familiar -->
        <div class="border-b text-base font-medium text-gray-500">Datos familiares</div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <div class="text-label">Contacto de emergencia</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="contactoEmergencia">
                </mat-form-field>
            </div>
            <div>
                <div class="text-label">Parentezco</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="parentezco">
                </mat-form-field>
            </div>
            <div>
                <div class="text-label">Numero emergencia</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="numeroEmergencia">
                </mat-form-field>
            </div>
            <div>
                <div class="text-label">Enfermedades que poseen los familiares</div>
                <mat-form-field class="w-full">
                    <input matInput formControlName="enfermedadesDelLosFamiliares">
                </mat-form-field>
            </div>
        </div>
        <!-- Footer -->
        <div class="flex gap-2 self-end">
            <button mat-raised-button (click)="irAPantallaListar()">Cancelar</button>
            <button mat-raised-button class="bg-azul disabled:bg-gris" (click)="procesarSolicitud()">
                <span class="text-white">Guardar</span>
            </button>
        </div>
    </form>
</div>