:root {
    /*  */
    /* --color-primario:#1B415E  */
    --color-primario: #0f172a;
    --color-primario-claro: #317BB4;
    --color-amarillo: #ffbf0b;
}

a {
    cursor: pointer;
    // background-color: red;
    padding: 4px;
    margin-left: 3px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 10px;
    padding: 8px 8px;
    
    &:hover {
        background-color: rgba(37, 150, 190, 0.4);
        color: white;
    }
}

.fuse-vertical-navigation-item-active {
    // padding-top: 4px;
    // padding-bottom: 4px;
    // background-color: rgba(232, 232, 232, 0.155);
    background-color: rgba(37, 150, 190, 1);
    color:white;
    // border-radius: 10px;
}
