:root {
    /*  */
    /* --color-primario:#1B415E  */
    --color-primario: #0f172a;
    --color-primario-claro: #317BB4;
    --color-amarillo: #ffbf0b;
}

a {
    &:hover {
        background-color: rgba(37, 150, 190, 0.4);
        color: white;
    }
}

.fuse-vertical-navigation-item-active {
    background-color: rgba(37, 150, 190, 1);
    color: white;
}