<div class="navigation">
    <div class="flex items-center justify-between" (click)="toggleCollapsable()">
        <div class="flex gap-1 items-center ">
            <!-- Icon -->
            <ng-container *ngIf="item.icono">
                <mat-icon [svgIcon]="item.icono"></mat-icon>
            </ng-container>

            <!-- Título -->
            <div>{{item.nombre}}</div>
        </div>

        <!-- Arrow -->
        <mat-icon class="ml-4" [svgIcon]="'chevron-right'"
            [ngClass]="{'rotar-90-izquierda': isCollapsed, 'rotar-90-derecha':isExpanded}"></mat-icon>
    </div>

</div>

<div class="ml-8" *ngIf="!isCollapsed" @inOutAnimation>
    <ng-container *ngFor="let item of item.hijos; trackBy: trackByFn">
        <ng-container *ngIf="!item.estaOculto">
            <!-- Basic -->
            <ng-container *ngIf="item.tipo === 'basico'">
                <basic-navigation [item]="item"></basic-navigation>
            </ng-container>

            <!-- Collapsable -->
            <ng-container *ngIf="item.tipo === 'colapsable'">
                <collapsable-navigation [item]="item"></collapsable-navigation>
            </ng-container>

            <!-- Grupo -->
            <ng-container *ngIf="item.tipo === 'grupo'">
                <group-navigation [item]="item"></group-navigation>
            </ng-container>
        </ng-container>
    </ng-container>
</div>