<!-- Se pone z-index=2000 porque el z-index del mat-dialog es 1000 -->
<loader class="w-full h-full" *ngIf="isLoading | async" style="position: absolute;z-index: 2000 !important;"></loader>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <!-- Header -->
    <mat-toolbar class="example-toolbar z-50">
        <!-- Toggle sidebar -->
        <div class="rounded-full p-2 flex items-center justify-center hover:bg-slate-300 hover:bg-opacity-50 hover:cursor-pointer"
            (click)="snav.toggle()">
            <mat-icon class="text-white">menu</mat-icon>
        </div>

        <!-- Titulo header -->
        <div class="text-lg text-white font-medium w-full text-center">SAM - NICMAISH</div>

        <!-- border p-4 -->
        <div class="flex gap-2">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    <div class="flex items-center justify-center gap-2">
                        <span class="font-medium text-white uppercase text-sm">Luis Nevado Sanchez</span>
                        <mat-icon svgIcon="menu-down" class="icon-size-md text-slate-700"></mat-icon>
                    </div>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="cerrarSesion()">
                        <div class="flex items-center gap-2">
                            <mat-icon svgIcon="logout"></mat-icon>
                            <div class="text-sm">Cerrar sesión </div>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>

    <!-- Sidebar -->
    <mat-sidenav-container class="example-sidenav-container z-50" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">

            <!-- Content header -->
            <mat-nav-list>
                <ng-container *ngFor="let item of navigation">
                    <ng-container *ngIf="!item.estaOculto">
                        <!-- Basic -->
                        <ng-container *ngIf="item.tipo === 'basico'">
                            <basic-navigation [item]="item"></basic-navigation>
                        </ng-container>

                        <!-- Collapsable -->
                        <ng-container *ngIf="item.tipo === 'colapsable'">
                            <collapsable-navigation [item]="item"></collapsable-navigation>
                        </ng-container>

                        <!-- Collapsable -->
                        <ng-container *ngIf="item.tipo === 'grupo'">
                            <group-navigation [item]="item"></group-navigation>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>

        <!-- Contenido principal -->
        <mat-sidenav-content class="bg-gray-100">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>