<div class="flex flex-col h-full w-full bg-slate-200">
    <!-- titulo -->
    <div class="bg-white w-full px-3 py-6 flex items-center justify-between max-h-16">
        <div class="font-sans text-lg text-slate-600 flex gap-3">
            <span>Gestión interna</span>
            <span>></span>
            <span class="font-medium">Usuarios</span>
        </div>

        <div class="flex gap-2 items-center justify-center" *ngIf="accion != 'ninguno'">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button style="background-color: green; color: white;"
                (click)="procesarSolicitud()">Guardar</button>
        </div>
    </div>

    <!-- Main -->
    <div class="grid grid-cols-6 w-full h-full px-8 py-4 mt-3 gap-4">
        <!-- Lista -->
        <div class="flex flex-col justify-between border-r pr-8 border-r-slate-400 col-span-2 h-full">
            <!-- Buscador -->
            <div>
                <mat-form-field class="w-full">
                    <input matInput (keyup)="filtrar($event)" [(ngModel)]="filtroNombres"
                        placeholder="Buscar por nombres">
                    <mat-icon matPrefix svgIcon="magnify"></mat-icon>
                </mat-form-field>
            </div>
            <!-- Lista completa -->
            <div class="mt-4 h-full overflow-auto flex flex-col gap-2">
                <ng-container *ngIf="usuarios.length>0; else nocontent">
                    <div *ngFor="let usuario of usuarios" class="bg-white p-3 rounded-lg cursor-pointer shadow-md">
                        <button (click)="ver(usuario.id)">
                            <div class="flex flex-col items-start">
                                <div class="font-medium text-base">{{usuario.nombresCompletos}}</div>
                                <div class="text-slate-600">{{usuario.tipo}}</div>
                            </div>
                        </button>
                    </div>
                </ng-container>
                <ng-template #nocontent>
                    <div class="p-4">¡La lista está vacía!</div>
                </ng-template>
            </div>
            <button mat-raised-button class="mt-8 mb-2" style="background-color: green; color: white;"
                *ngIf="accion == 'ninguno'" (click)="crear()">Crear nuevo usuario</button>
        </div>

        <!-- Detalle -->
        <div class="col-span-4 w-full overflow-auto">
            <!-- Crear o Editar-->
            <ng-container *ngIf="accion === 'editar' || 'crear'">
                <form [formGroup]="form" class="flex gap-4 h-full w-full">
                    <div
                        class="flex flex-col justify-between w-full h-full bg-white rounded-lg col-span-1 p-4 overflow-auto">
                        <div class="font-medium text-2xl font-sans">{{accion == 'editar' ? 'Editar' : 'Crear'}} usuario
                        </div>
                        <div class="mt-4 h-full flex flex-col gap-4">
                            <div class="grid grid-cols-4 gap-4">
                                <div>
                                    <div>DNI</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Nombres</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Ap paterno</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Ap materno</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="grid grid-cols-4 gap-4">
                                <div>
                                    <div>Fec Nacimiento</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Sexo</div>
                                    <mat-form-field class="w-full">
                                        <mat-select formControlName="sexo">
                                            <ng-container *ngFor="let sexo of sexos">
                                                <mat-option [value]="sexo">{{sexo.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Nacionalidad</div>
                                    <mat-form-field class="w-full">
                                        <mat-select formControlName="pais">
                                            <ng-container *ngFor="let pais of paises">
                                                <mat-option [value]="pais">{{pais.nombre}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Celular</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="grid grid-cols-4 gap-4">
                                <div>
                                    <div>Carrera profesional</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Nombre de usuario</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div>Tipo</div>
                                    <mat-form-field class="w-full">
                                        <input matInput formControlName="nombre">
                                    </mat-form-field>
                                </div>

                                <!-- habilitado -->
                                <div>
                                    <div>Habilitado</div>
                                    <mat-slide-toggle formControlName="habilitado"></mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>