<div class="p-4 flex flex-col h-full">
    <!-- Header -->
    <div class="">
        <div class="flex gap-2 items-center">
            <div class="font-medium text-4xl mb-2">Servicios</div>
            <mat-icon class="icon-size-md hover:cursor-pointer icon-turquesa" [svgIcon]="'plus-circle'"
                matTooltip="Agregar servicio" (click)="abrirModalCrear()"></mat-icon>
        </div>
        <hr>
    </div>

    <!-- Contenido -->
    <div class="mt-4 bg-white p-4 grid grid-cols-2 gap-4">
        <div class="flex justify-between max-w-80 w-full filter-info shadow-lg border"
            *ngFor="let servicio of servicios">
            <div class="flex flex-col flex-auto justify-center p-6">
                <div class="text-lg font-semibold leading-tight">{{servicio.nombre}}</div>
                <div class="text-md text-secondary">PEN {{servicio.costo}}</div>
                <div class="self-end rounded-full flex items-center justify-center p-1 cursor-pointer hover:shadow-lg"
                    matTooltip="Editar" (click)="abrirModalEditar(servicio.id)">
                    <mat-icon svgIcon="pencil"></mat-icon>
                </div>
            </div>
            <img *ngIf="servicio.imagen" class="w-24 h-30 object-cover" [src]="servicio.imagen" alt="Card cover image">
            <img *ngIf="!servicio.imagen" class="w-24 h-30 object-cover aspect-square" src="assets/images/imagen-no-disponible.webp" alt="Card cover image">
        </div>
    </div>
</div>