<div class="flex flex-col h-full w-full bg-slate-200 overflow-hidden">
    <!-- titulo -->
    <div class="bg-white w-full px-3 py-6 flex items-center justify-between max-h-16">
        <div class="font-sans text-lg text-slate-600 flex gap-3">
            <span>Gestión interna</span>
            <span>></span>
            <span class="font-medium">Roles</span>
        </div>
        <div class="flex gap-2 items-center justify-center" *ngIf="accion != 'ninguno'">
            <button mat-raised-button (click)="cancelar()">Cancelar</button>
            <button mat-raised-button style="background-color: green; color: white;"
                (click)="procesarSolicitud()">Guardar</button>
        </div>
    </div>

    <!-- Main -->
    <div class="grid grid-cols-4 w-full h-full px-8 py-4 mt-3 gap-4">
        <!-- Lista -->
        <div class="flex flex-col justify-between border-r pr-8 border-r-slate-400 col-span-1 h-full">
            <!-- Buscador -->
            <div>
                <mat-form-field class="w-full">
                    <input matInput (keyup)="filtrar($event)" [(ngModel)]="filtroNombre"
                        placeholder="Buscar por nombre">
                    <mat-icon matPrefix svgIcon="magnify"></mat-icon>
                </mat-form-field>
            </div>
            <!-- Lista completa -->
            <div class="mt-4 h-full overflow-auto flex flex-col gap-2">
                <ng-container *ngIf="roles.length>0; else nocontent">
                    <div *ngFor="let rol of roles" class="bg-white p-3 rounded-lg cursor-pointer shadow-md"
                        (click)="ver(rol.id)">
                        {{rol.nombre}}</div>
                </ng-container>
                <ng-template #nocontent>
                    <div class="p-4">¡La lista está vacía!</div>
                </ng-template>
            </div>
            <button mat-raised-button *ngIf="accion == 'ninguno'" class="mt-8 mb-2"
                style="background-color: green; color: white;" (click)="crear()">Crear nuevo rol</button>
        </div>

        <!-- Detalle -->
        <div class="col-span-3">
            <!-- Crear -->
            <ng-container *ngIf="accion === 'crear'">
                <form [formGroup]="form" class="grid grid-cols-3 gap-4 h-full">
                    <div class="flex flex-col justify-between h-full  bg-white rounded-lg col-span-1 p-4">
                        <div class="font-medium text-2xl font-sans">Crear nuevo rol</div>
                        <div class="mt-4 h-full">
                            <!-- Nombre -->
                            <div>
                                <div>Nombre</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="nombre">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col h-full  bg-white rounded-lg col-span-1 p-4">
                        <div class="font-medium text-2xl font-sans">Asignar permisos</div>
                        <div class="h-full mt-4">
                            <ng-container *ngFor="let padre of menuesPorRol; let i = index">
                                <div class="font-medium">{{padre.nombre}}</div>
                                <div *ngFor="let hijo of padre.hijos" class="ml-4 flex flex-col">
                                    <div class="flex items-center">
                                        <mat-checkbox *ngIf="hijo.tipo == 'basico'" color="primary"
                                            (click)="agregarAListaParaEnviar(hijo.codigo,hijo.codigoPadre)"
                                            [checked]="hijo.tienePermiso">
                                        </mat-checkbox>
                                        <div class="">{{hijo.nombre}}</div>
                                    </div>

                                    <ng-container *ngIf="hijo.hijos.length > 0">
                                        <div class="ml-4 flex items-center -mb-2" *ngFor="let nieto of hijo.hijos">
                                            <mat-checkbox *ngIf="nieto.tipo == 'basico'" color="primary"
                                                (click)="agregarAListaParaEnviar(nieto.codigo,nieto.codigoPadre)"
                                                [checked]="nieto.tienePermiso">
                                            </mat-checkbox>
                                            <div class="">{{nieto.nombre}}</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </ng-container>

            <ng-container *ngIf="accion === 'editar'">
                <form [formGroup]="form" class="grid grid-cols-3 gap-4 h-full">
                    <div class="flex flex-col justify-between h-full bg-white rounded-lg col-span-1 p-4">
                        <div class="font-medium text-2xl font-sans">Editar rol</div>
                        <div class="mt-4 h-full flex flex-col gap-4">
                            <!-- Nombre -->
                            <div>
                                <div>Nombre</div>
                                <mat-form-field class="w-full">
                                    <input matInput formControlName="nombre">
                                </mat-form-field>
                            </div>

                            <!-- habilitado -->
                            <div>
                                <div>Habilitado</div>
                                <mat-slide-toggle formControlName="habilitado"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col h-full  bg-white rounded-lg col-span-1 p-4">
                        <div class="font-medium text-2xl font-sans">Asignar permisos</div>
                        <div class="h-full mt-4">
                            <ng-container *ngFor="let padre of menuesPorRol; let i = index">
                                <div class="font-medium">{{padre.nombre}}</div>
                                <div *ngFor="let hijo of padre.hijos" class="ml-4 flex flex-col">
                                    <div class="flex items-center">
                                        <mat-checkbox *ngIf="hijo.tipo == 'basico'" color="primary"
                                            [checked]="hijo.tienePermiso">
                                        </mat-checkbox>
                                        <div class="">{{hijo.nombre}}</div>
                                        <!-- (click)="agregarAListaParaEnviar(hijo.menuCodigo,hijo.menuCodigoPadre)" -->
                                    </div>

                                    <ng-container *ngIf="hijo.hijos.length > 0">
                                        <div class="ml-4 flex items-center -mb-2" *ngFor="let nieto of hijo.hijos">
                                            <mat-checkbox *ngIf="nieto.tipo == 'basico'" color="primary"
                                                [checked]="nieto.tienePermiso">
                                            </mat-checkbox>
                                            <div class="">{{nieto.nombre}}</div>
                                            <!-- (click)="agregarAListaParaEnviar(nieto.menuCodigo,nieto.menuCodigoPadre)" -->
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>